@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
	transition: all 0.3s ease;
	font-family: 'JetBrains Mono', monospace;
}

main {
	margin: 1rem 20rem;
}

@page { size: auto;  margin: 0mm; }

@media print {
  .noPrint{
    display:none;
  }
  main {
    margin: 2rem 5rem;
  }
}


nav {
	button {
		padding: 0.5rem 1rem;
		border-radius: 0;
	}
}

p {
	font-size: 1rem;
}

@media (max-width: 1140px) {
	main {
		margin: 1rem;
	}
}
